:root, html, body {
  font-size: 100%;
  min-width: 100vw;
  min-height: 100vh;
  position: initial;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Variable", "Segoe UI", system-ui, ui-sans-serif, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.markdown-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Variable", "Segoe UI", system-ui, ui-sans-serif, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
  font-weight: 600;
}

.markdown-body h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #ebedef;
}

.markdown-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #ebedef;
}

.markdown-body code, .markdown-body tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: #1b1f230d;
  border-radius: 6px;
}

tt, code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 12px;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

.markdown-body h3 {
  font-size: 1.25em;
}

.btn {
  color: #24292e;
  background-color: #fafbfc;
  border-color: #1b1f2326;
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04), inset 0 1px 0 rgba(255, 255, 255, 0.25);
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid;
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  cursor: pointer;
  border-radius: 0;
}

input, select, textarea, button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button, select {
  text-transform: none;
}

button, input {
  overflow: visible;
}

button, input, select, textarea {
  font: inherit;
  margin: 0;
}

.btn:focus, .btn.focus {
  border-color: rgba(27, 31, 35, 0.15);
  outline: none;
  box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
}

.btn:active {
  background-color: hsla(220, 14%, 93%, 1);
  border-color: rgba(27, 31, 35, 0.1);
  transition: none;
}

.btn:hover, .btn.hover, [open]>.btn {
  background-color: #f3f4f6;
  border-color: rgba(27, 31, 35, 0.15);
  transition-duration: 0.1s;
}

.btn:hover {
  text-decoration: none;
}

.btn-primary {
  color: #ffffff;
  background-color: #2ea44f;
  border-color: #1b1f2326;
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.03);
}

.btn-primary:focus, .btn-primary.focus {
  background-color: #2ea44f;
  border-color: #1b1f2326;
  box-shadow: 0 0 0 3px rgba(46, 164, 79, 0.4);
}

.btn-primary:active, .btn-primary.selected, .btn-primary[aria-selected=true] {
  background-color: #298e46;
  box-shadow: inset 0 1px 0 rgba(20, 70, 32, 0.2);
}

.btn-primary:hover, .btn-primary.hover, [open]>.btn-primary {
  background-color: #2c974b;
  border-color: rgba(27, 31, 35, 0.15);
}

.markdown-body table {
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre, .markdown-body details {
  margin-top: 0;
  margin-bottom: 16px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown-body table th, .markdown-body table td {
  padding: 6px 13px;
  border: 1px solid #e0e3e6;
}

.markdown-body table th {
  font-weight: 600;
}

td, th {
  padding: 0;
}

.markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-body table tr {
  background-color: #ffffff;
  border-top: 1px solid #c6cbd2;
}

a {
  color: #0366d6;
  text-decoration: none;
  user-select: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  text-decoration: underline;
}

a:active, a:hover {
  outline-width: 0;
}



header nav, header {
  background-color: rgb(34, 39, 46);
  min-height: 4rem;
  width: 100%;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

header {
  position: fixed;
}

main {
  padding-top: 4rem;
}

footer nav, footer {
  background-color: #263238;
  min-height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

[center] {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

nav>*, ul *, ul {
  height: 100%;
}

ul {
  list-style-type: none;
  padding-left: 1rem;
  display: flex;
  margin: 0;
}

ul>* {
  padding: 0 .5rem;
}

ul a {
  color: white;
  text-decoration: none;
}

ul a:hover {
  text-decoration: underline;
}

a {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.brand-logo {
  font-size: 1.8rem !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: space-between;
  background-color: #63a4ff;
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 400;
}

.brand-js {
  background-color: orange;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: hide-and-seek 4s ease-in-out infinite;
}

@keyframes hide-and-seek {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  margin-right: .5rem;
}

.sidenav {
  padding-top: 1rem;
}

footer nav {
  background-color: #263238;
}

main {
  min-height: 100vh;
}

.footer {
  margin: 1rem;
  font-weight: 500;
}

.footer li {
  padding: 0 .5rem;
}

.container {
  margin: 2rem 4rem;
}

.table-container {
  width: calc(100%);
  overflow: auto;
  margin-bottom: .5rem;
}

.runnable-code-container {
  width: 100%;
  margin-bottom: .5rem;
}

pre {
  font-size: 14px !important;
}

.editor, .runnable-code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
  font-weight: normal;
  font-size: 14px;
  font-feature-settings: "liga"0, "calt"0;
  line-height: 21px;
  letter-spacing: 0px;
  tab-size: 2;
  border-radius: 4px;
  resize: none !important;
  margin: .5rem 0;
  background: #2d333b;
  color: #d4d4d4;
  padding: 16px;
}

.runnable-logs {
  padding: .5rem;
  margin-bottom: .5rem;
  width: calc(100% - 1rem);
  display: none;
  overflow-x: auto;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

div.code-toolbar>.toolbar {
  opacity: 1;
}

@media only screen and (max-width: 481px) {
  .container {
    margin: 1rem 1.5rem;
  }
}

/* Code-Input Compability */

/* By WebCoder49 */

/* First Published on CSS-Tricks.com */

code-editor {
  /* Allow other elems to be inside */
  position: relative;
  height: auto;
  display: block;
}

.code-input_editing, .code-input_highlighting {
  /* Both elements need the same text and space styling so they are directly on top of each other */
  margin: 10px!important;
  padding: 10px!important;
  border: 0;
  width: calc(100% - 32px)!important;
  height: calc(100% - 32px)!important;
}

.code-input_editing, .code-input_highlighting, .code-input_highlighting * {
  /* Also add text styles to highlighing tokens */
  font-size: 15pt!important;
  font-family: monospace;
  line-height: 20pt!important;
}

.code-input_editing, .code-input_highlighting {
  /* In the same place */
  position: absolute;
  top: 0;
  left: 0;
}

/* Move the textarea in front of the result */

.code-input_editing {
  z-index: 1;
}

.code-input_highlighting {
  z-index: 0;
}

/* Make textarea almost completely transparent */

.code-input_editing {
  color: transparent;
  background: transparent;
  caret-color: white;
  /* Or choose your favourite color */
}

/* Can be scrolled */

.code-input_editing, .code-input_highlighting {
  overflow: auto;
  white-space: nowrap;
  /* Allows textarea to scroll horizontally */
}

/* No resize on textarea */

.code-input_editing {
  resize: none;
}

/* PrismJS 1.24.1
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+json+jsonp+jsx+tsx+regex+sass+scss+typescript+typoscript */

/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"], pre[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */

pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre)>code[class*="language-"], pre[class*="language-"] {
  background: #2d2d2d;
}

/* Inline code */

:not(pre)>code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag, .token.attr-name, .token.namespace, .token.deleted {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean, .token.number, .token.function {
  color: #f08d49;
}

.token.property, .token.class-name, .token.constant, .token.symbol {
  color: #f8c555;
}

.token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin {
  color: #cc99cd;
}

.token.string, .token.char, .token.attr-value, .token.regex, .token.variable {
  color: #7ec699;
}

.token.operator, .token.entity, .token.url {
  color: #67cdcc;
}

.token.important, .token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}